.main {
    position: relative;
    min-height: 100vh;
    flex: 1;
    padding-bottom: 16vh;   
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: var(--quinary-color);
}

.main .nav .nav-brand {
    color: var(--quaternary-color);
    text-decoration: none;
}

.main .nav .nav-right {
    display: flex;
    gap: 20px;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 25px #9b9b9e;
    cursor: pointer;
}

.main .nav img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet-user {
    margin: 50px 0px;
    font-size: 56px;
    color: var(--quinary-color);
    font-weight: 500;
    padding: 20px;
}

.main .greet-user span {
    background: -webkit-linear-gradient(16deg, #f9614395, #2542c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 150px;
    padding: 15px;
    background-color: #867bfd24;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.135);
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: var(--quinary-color);
    font-size: 17px;
}

.main .card:hover {
    background-color: #a9d2f057;
    box-shadow: 1px 1px 5px #9b9b9e;
    transform: scale(1.05);
    transition: all 0.3s;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: linear-gradient(to right, #07567ead, #320464c0, #5b0303b5);
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 60px 10px #0c0cff;
    border: 2px solid #0c0cff;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    color: var(--quaternary-color);
}

.search-box input::placeholder {
    color: var(--quaternary-color);
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: var(--quaternary-color);
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--quinary-color);
}

.result img {
    width: 40px;
    border-radius: 50px;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border: none;
    border-radius: 10px;
    background-color: #73abe2;
    background-size: 800px 50px;
    height: 20px;
    background: linear-gradient(to right, #9eb0ff69, #f6f3f3, #9eb0ff69);
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 18px;
    color: var(--quaternary-color);
    font-weight: 300;
    line-height: 1.9;
}

@media (max-width: 600px) {
    
    .main .cards {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 0px 20px 20px 20px;
    }
    .main-bottom input {
        flex: none;
        width: 200px;
    }
    .main-bottom img {
        width: 20px;
    }
    .main .greet-user {
        font-size: 40px;
        padding: 0px 20px 20px 20px;
        margin: 10px 0px;
    }
    .main .nav {
        padding: 15px;
    }

}