.sidebar {
    min-height: 100vh;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #adabab26;
    padding: 25px 30px 50px 20px;
    backdrop-filter: blur(4px);
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    margin-left: 10px;
    display: block;
    cursor: pointer;
}

.sidebar .menu:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.sidebar .new-chat {
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    background-color: #233a6877;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    color: var(--quaternary-color);
    border: 1px solid #e3e3e336;
}

.sidebar .new-chat:hover {
    background-color: #65023e87;
    transition: all 0.5s;
    transform: scale(1.05);
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--quaternary-color);
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;    
    color: var(--quaternary-color);
}

.sidebar .recent-entry:hover {
    background-color: #3c236287;
    transition: all 0.5s;
    border: 1px solid #e3e3e336;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}